 /* Namari Landing Page Dynamic Style Index

   1. Website Default Styling
   2. Navigation
   3. Primary and Secondary Colors
   4. Banner
   5. Typography
   6. Buttons
   7. Footer


   /*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/

body {
  background: #fff;
}
@font-face {
  font-family: "Helvetica";
  src: url("fonts/Helvetica.ttf");
}

/* Default Link Color */

a,
.la-ball-triangle-path {
  color: #d2b356;
}

a:hover,
#header.nav-solid nav a:hover {
  color: #d2b356;
}

/* Default Icon Color */

.icon i {
  color: #d2b356;
}

/* Border Color */

#banner .section-heading:before,
.testimonial.classic footer:before {
  background: #d2b356;
}
.speakers.classic footer:before {
  background: #d2b356;
}

.pricing-block-content:hover {
  border-color: #d2b356;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/

/* Transparent Navigation Color on a Banner */

#header nav a,
#header i {
  color: #111;
}

/* Navigation Colors when the Navigation is sticky and solid */

/* Navigation Colors when the Navigation is sticky and solid */

#header.nav-solid,
#header.nav-solid a,
#header.nav-solid i,
#nav-mobile ul li a {
  color: #333;
}

/* Navigation Active State */

#header.nav-solid .active {
  color: #d2b356;
  border-color: #d2b356;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/

/* Primary Background and Text Colors */

.primary-color,
.featured .pricing {
  background-color: #d2b356;
}

.primary-color,
.primary-color .section-title,
.primary-color .section-subtitle,
.featured .pricing,
.featured .pricing p {
  color: #fff;
}

.section-heading h2:after {
  background: #d2b356;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  margin-top: 30px;
}

.text-center .section-heading h2:after {
  margin: 30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i,
.primary-color i {
  color: #fff;
}

/* Secondary Background and Text Colors */

.secondary-color {
  background-color: #f5f5f5;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

/* Banner Background and Text Colors */

#banner {
  background-color: white;
  background-size: cover;
  transition: opacity 1s, background 1s;
}
#pricing-block-content {
  width: 50%;
  margin: auto;
}
@media (max-width: 629px) {
  #banner {
    background-image: none;
  }

  #pricing-block-content {
    margin: auto;
    width: 100%;
  }
}
/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/

body {
  font-family: "Helvetica", Arial, Helvetica;
  font-size: 15px;
  font-weight: normal;
  color: #111;
}

/* Logo, if you are using Fonts as Logo and not image

   #logo h1 {
   font-family:;
   font-size:;
   font-weight:;
   color:;
   }

   #logo h2 {
   font-family:;
   font-size:;
   font-weight:;
   color:;
   }

 */

/* Banner Typography */

#banner h1 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 62px;
  line-height: 60px;
  font-weight: 800;
  color: #111;
}

#banner h2 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 300;
  color: #111;
}

/* Section Title and Subtitle */

.section-title {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 34px;
  font-weight: 700;
  color: #111;
}

.section-subtitle {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 16px;
  font-weight: 300;
  color: #9c9c9c;
}

/* Testimonial */

.testimonial q {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 17px;
  font-weight: 300;
}

.testimonial.classic q,
.testimonial.classic footer {
  color: #111;
}

.speakers q {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 17px;
  font-weight: 300;
}

.speakers.classic q,
.speakers.classic footer {
  color: #111;
}

/* Standard Headings h1-h6 */

h1 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 40px;
  font-weight: 300;
  color: #111;
}

h2 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 34px;
  font-weight: 300;
  color: #111;
}

h3 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 30px;
  font-weight: 700;
  color: #111;
}

h4 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 400;
  color: #111;
}

h5 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: #111;
}

h6 {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}

/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */

/* Button Text */

.button,
input[type="submit"] {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #111;
}

/* Button Color */

.button,
input[type="submit"] {
  border-color: #111;
}

/* Button Hover Color */

.button:hover,
input[type="submit"]:hover {
  border-color: #d2b356;
  color: #d2b356;
}

/* ----------Banner Buttons---------- */

/* Button Text */

#banner .button {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 16px;
  color: #111;
}

/* Button Color */

#banner .button {
  border-color: #111;
}

/* Button Hover Color */

#banner .button:hover {
  color: #d2b356;
  border-color: #d2b356;
}

/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer,
#landing-footer p,
#landing-footer a {
  font-family: "Helvetica", sans-serif, Arial, Helvetica;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}

/* Footer Icon Color */

#landing-footer i {
  color: #999;
}

/* Schedule Table*/

.scheduletable{
  width: 70%;
  max-width: 1000px;
  margin: 30px auto 100px;
  border:1px solid  #999;
}
.scheduletable td,.scheduletable th{
  padding: 5px 	5px;
  border:1px solid  #999;
}
.scheduletable tr td:first-child{
  text-align: center;
  width: 100px;
}
.scheduletable th{
  color: #555555;
}
.scheduletable tr.track td,.scheduletable tr.track th{
  background-color: #D2B356;
  text-align: center;
}

@media (max-width: 747px) {
  .scheduletable td,.scheduletable th{
    padding: 3px 4px;
  }

  .scheduletable{
    width: 100%;
    margin: 30px auto 40px;
  }
}
